<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Document</title>
</head>
<body  style="background-color: lightgrey;">
    <style>
        /* Hide all content sections by default */
        .content {
            display: none;
        }
    
        /* Show the content of the targeted section */
        :target {
            display: block;
        }
    
        /* Hide the checkbox itself */
        input[type="checkbox"] {
            display: none;
        }
    
        /* Hide the content by default */
        .content {
            display: none;
        }
    
        /* Show the content when the checkbox is checked */
        input[type="checkbox"]:checked~.content {
            display: block;
        }
    
        /* Hide "Read More" when the checkbox is checked */
        input[type="checkbox"]:checked~.read-more1 {
            display: none;
        }
    
        /* Show "Show Less" when the checkbox is checked */
        input[type="checkbox"]:checked~.read-less1 {
            display: inline;
        }
    
        
    
    
        input[type="checkbox"]:checked~.read-more2 {
            display: none;
        }
    
        /* Show "Show Less" when the checkbox is checked */
        input[type="checkbox"]:checked~.read-less2 {
            display: inline;
        }
    
        .read-less2 {
            display: none;
        }
    
    
    
    
        .nav-link:hover {
            color: blue;
            font-weight: bold;
        }
    
        /* Optional: Styles for active state */
        .nav-link:target {
            color: blue;
            font-weight: bold;
        }
    </style>
    <body>
        
    
    
     <!--Header start -->
     <div class="w-full  h-[100px] flex items-center justify-between border-b-black border-2">
        <!--logo div -->
        <div class="w-[200px] h-[100px] ml-[60px] relative right-[20px]">
            <img class="w-[200px] h-[100px] mix-blend-darken" src="../../../logo_qureshi (3).png" alt="">
        </div>
        <!--Search bar -->
        <div class="w-[500px] relative right-[80px]">
            <div class="inline-block">
                <input class="border-black border-[1px] h-[50px] w-[445px] border-r-0 rounded-l-md right-[130px] pl-2"
                    type="text" placeholder="Search Travel,Sports,News">
            </div>
            <div class="inline-block bg-indigo-700 h-[50px] rounded-r-md relative top-0 right-[4px]">
                <button><i class="fa-solid fa-magnifying-glass w-[45px] relative top-2 left-1 text-white text-4xl"></i></button>
            </div>
        </div>
        <!--Register button -->
        <div class="flex justify-end mr-4">
            <button class="bg-indigo-700 text-white h-[50px] w-[170px] font-bold relative right-[50px] rounded-md">
                Login/Register
            </button>
        </div>
    </div>
    <!--  Header ends -->
       <!-- Navigation start -->
       <div class="flex justify-around mt-6">
        <a href="../../index.html" class="nav-link">Home</a>
        <a href="../public/components/Travelling/travelling.html" class="nav-link">Traveling</a>
        <a href="../Finance/finance.html" class="nav-link">Finance</a>
        <a href="../Sports/sports.html" class="nav-link">Sports</a>
        <a href="../Lifestyle/lifestyle.html" class="nav-link">Lifestyle</a>
        <a href="#health" class="nav-link">Health</a>
        <a href="#entertainment" class="nav-link">Entertainment</a>
        <a href="#politics" class="nav-link">Politics</a>
        <a href="#movies" class="nav-link">Movies</a>
    </div>
    <!--  Navigation ends -->
    
    
    <!-- Content sections  for technology-->
    <div id="technology" class="pt-10 ">
        <div class="flex justify-evenly  w-[99]vw h-auto mb-6 ">
            <!--technology div 1 -->

            <div class="w-[350px] h-auto bg-white ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px] rounded-md  "><img class="w-[350px] h-[170px]  "
                        src="../../pics/travel-1.jpg" alt=""></div>
                <!-- text sections -->
                <div class="  border-[1px] border-t-0">
                    <p class="font-semibold">Explore the serene beauty of Kyoto’s landscapes, where ancient temples and
                        lush gardens create a unique travel experience...
                        <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                            href="../Travelling/travelling-1.html">Read More</a>
                    </p>
                </div>
            </div>
            <!--  technology div 2 -->
            <div class="w-[350px] h-275px bg-white ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                        src="../../pics/travel-2.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of mountain travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-2.html">Read More</a>


                </div>
            </div>

            <!--  technology div 3 -->
            <div class="w-[350px] h-275px bg-white ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                        src="../../pics/travel-3.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the Turkey the mountain travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-3.html">Read More</a>


                </div>
            </div>
        </div>


        <div class="flex justify-evenly w-[99]vw h-[270px] mb-6">
            <!-- technology div 4 -->
            <div class="w-[350px] h-275px bg-white ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                        src="../../pics/travel-4.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of Cities travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-4.html">Read More</a>


                </div>
            </div>

            <!--technology div 5 -->
            <div class="w-[350px] h-275px bg-white  ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                        src="../../pics/travel-5.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of Cities travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-5.html">Read More</a>
                </div>
            </div>
            <!--  technology div 6-->
            <div class="w-[350px] h-auto bg-white  ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class="w-[350px] h-[170px]"
                        src="../../pics/travel-6.jpg" alt=""></div>
                <!-- text sections -->
                <div class=" ">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-6.html">Read More</a>


                </div>
            </div>
        </div>

        <div class="flex justify-evenly w-[99]vw h-[270px] mb-6">
            <!--technology div 7-->
            <div class="w-[350px] h-auto bg-white  ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                        src="../../pics/travel-7.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-7.html">Read More</a>


                </div>
            </div>
               <!--technology div 8-->
               <div class="w-[350px] h-auto bg-white ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                        src="../../pics/travel-8.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                        href="../Travelling/travelling-8.html">Read More</a>
                </div>
            </div>
           <!--technology div 9-->
           <div class="w-[350px] h-auto bg-white ">
            <!-- image sections -->
            <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                    src="../../pics/travel-9.jpg" alt=""></div>
            <!-- text sections -->
            <div class="border-[1px] border-t-0">
                <input type="checkbox" name="" id="ch2">
                <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                    vistas offer an unforgettable escape from the everyday...
                </p>
                <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                    href="../Travelling/travelling-9.html">Read More</a>
            </div>
        </div>
        </div>
        <div class="flex justify-evenly w-[99]vw h-[280px] mb-6">
            <!--  technology div 10-->
           <div class="w-[350px] h-auto bg-white  ">
            <!-- image sections -->
            <div class=" w-[350px] h-[170px]   "><img class=" w-[350px] h-[170px]"
                    src="../../pics/travel-10.jpg" alt=""></div>
            <!-- text sections -->
            <div class="border-[1px] border-t-0">
                <input type="checkbox" name="" id="ch2">
                <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                    vistas offer an unforgettable escape from the everyday...
                </p>
                <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                    href="../Travelling/travelling-10.html">Read More</a>


            </div>
        </div>
               <!-- technology div 11-->
           <div class="w-[350px] h-auto bg-white ">
            <!-- image sections -->
            <div class=" w-[350px] h-[170px]   "><img class="w-[350px] h-[170px]"
                    src="../../pics/travel-11.jpg" alt=""></div>
            <!-- text sections -->
            <div class="border-[1px] border-t-0">
                <input type="checkbox" name="" id="ch2">
                <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                    vistas offer an unforgettable escape from the everyday...
                </p>
                <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  p-1 rounded-sm"
                    href="../Travelling/travelling-11.html">Read More</a>
            </div>
        </div>
             <!--technology div 12-->
             <div class="w-[350px] h-auto bg-white ">
                <!-- image sections -->
                <div class=" w-[350px] h-[170px]   "><img class="w-[350px] h-[170px]"
                        src="../../pics/travel-12.jpg" alt=""></div>
                <!-- text sections -->
                <div class="border-[1px] border-t-0">
                    <input type="checkbox" name="" id="ch2">
                    <p class="font-semibold"> Discover the serenity of Desert travel, where breathtaking
                        vistas offer an unforgettable escape from the everyday...
                    </p>
                    <a class="bg-indigo-700 read-more2 text-white font-bold inline-block  m-3 p-1 rounded-sm"
                        href="../Travelling/travelling-12.html">Read More</a>
    
    
                </div>
            </div>
        </div>

    </div>
</body>
</html>